<!-- Auth0.plist -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>E3CDSZ25Ek_ccdVysjkeS0lNFk83O7rj</string>
  <key>Domain</key>
  <string>publicprojects.auth0.com</string>
</dict>
</plist>
